@media only screen and (max-width: 650px) {
	#wrapper {
		width: 90%;
		height: 90%;
	}
	#picture {
		width: 100px;
		height: 100px;
	}

	#full-name {
		font-size: 35px;
	}

	#job-name {
		font-size: 13px;
	}
}